In [1]:
'''
Set-1 Questions:
•	"How many listings are in my neighbourhood and where are they?"
•	"How many houses and apartments are being rented out frequently to tourists and not to long-term residents?"
•	"How much are hosts making from renting to tourists (compare that to long-term rentals)?"
•	"Which hosts are running a business with multiple listings and where they?"
'''

'\nSet-1 Questions:\n•\t"How many listings are in my neighbourhood and where are they?"\n•\t"How many houses and apartments are being rented out frequently to tourists and not to long-term residents?"\n•\t"How much are hosts making from renting to tourists (compare that to long-term rentals)?"\n•\t"Which hosts are running a business with multiple listings and where they?"\n'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
calendar= pd.read_csv('P:/Udactity NanoDegree Data Scientist/2.Introduction to Data Science/dataset/Boston AirBNB Data/calendar.csv')
listings= pd.read_csv('P:/Udactity NanoDegree Data Scientist/2.Introduction to Data Science/dataset/Boston AirBNB Data/listings.csv')
reviews= pd.read_csv('P:/Udactity NanoDegree Data Scientist/2.Introduction to Data Science/dataset/Boston AirBNB Data/reviews.csv')

In [4]:
calendar.isna().sum().sort_values()

listing_id         0
date               0
available          0
price         665853
dtype: int64

In [5]:
print('Listings length: '+str(len(listings)))
print('Calendar length: '+str(len(calendar)))
print('Reviews length:  '+str(len(reviews)))

Listings length: 3585
Calendar length: 1308890
Reviews length:  68275

In [6]:
listings.isna().sum().sort_values()

id                                 0
host_identity_verified             0
street                             0
neighbourhood_cleansed             0
state                              0
                                ...
square_feet                     3529
has_availability                3585
license                         3585
jurisdiction_names              3585
neighbourhood_group_cleansed    3585
Length: 95, dtype: int64

In [7]:
reviews.isna().sum().sort_values()

listing_id        0
id                0
date              0
reviewer_id       0
reviewer_name     0
comments         53
dtype: int64

In [8]:
listings.count().sort_values()

license                            0
jurisdiction_names                 0
neighbourhood_group_cleansed       0
has_availability                   0
square_feet                       56
                                ...
street                          3585
host_identity_verified          3585
host_has_profile_pic            3585
country_code                    3585
country                         3585
Length: 95, dtype: int64

In [9]:
listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'access', 'interaction', 'house_rules',
       'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [10]:
'''
•	"How many listings are in my neighbourhood and where are they?"
'''

'\n•\t"How many listings are in my neighbourhood and where are they?"\n'

In [11]:
n= list(listings.neighbourhood.unique())

In [12]:
n

['Roslindale',
 nan,
 'Jamaica Plain',
 'Mission Hill',
 'Fenway/Kenmore',
 'Back Bay',
 'Leather District',
 'Chinatown',
 'Hyde Park',
 'North End',
 'Roxbury',
 'South End',
 'Mattapan',
 'East Boston',
 'South Boston',
 'Charlestown',
 'West End',
 'Beacon Hill',
 'Theater District',
 'Downtown Crossing',
 'Downtown',
 'Financial District',
 'Government Center',
 'Allston-Brighton',
 'West Roxbury',
 'Chestnut Hill',
 'Dorchester',
 'Brookline',
 'Cambridge',
 'Somerville',
 'Harvard Square']

In [13]:
ne= input("Enter your neighbourhood: ")
count=0
for i in n:
    if i==ne:
        print("Yes we have your neighbourhood: "+ne)
        count=1
if count==0:
    print("Oops! We don't have your neighbourhood, or maybe spell correctly: "+ne)

Enter your neighbourhood:
Oops! We don't have your neighbourhood, or maybe spell correctly:

In [14]:
df_ne= listings[['neighbourhood', 'name']]

In [15]:
df_ne

     neighbourhood                                           name
0       Roslindale                     Sunny Bungalow in the City
1       Roslindale              Charming room in pet friendly apt
2       Roslindale               Mexican Folk Art Haven in Boston
3              NaN  Spacious Sunny Bedroom Suite in Historic Home
4       Roslindale                            Come Home to Boston
...            ...                                            ...
3580    Somerville                           Big cozy room near T
3581           NaN            BU Apartment DexterPark Bright room
3582           NaN                       Gorgeous funky apartment
3583    Somerville          Great Location; Train and Restaurants
3584    Somerville             (K1) Private Room near Harvard/MIT

[3585 rows x 2 columns]

In [16]:
#listings.has_availability.unique()     
#we must drop it all are none here in this column
# listings.availability_30.unique()

In [17]:
#Location of the host
#listings.host_location.unique()

In [18]:
listings.host_neighbourhood.unique()

array(['Roslindale', nan, 'Jamaica Plain', 'Hyde Park', 'South Beach',
       'Benton Park', 'Back Bay', 'Mission Hill', 'Cambridge',
       'Fenway/Kenmore', 'Beacon Hill', 'West End', 'North End',
       'Allston-Brighton', 'Upper East Side', 'Theater District',
       'Leather District', 'Gay Village', 'Somerville', 'Chinatown',
       'Santa Cruz', 'Central Business District', 'South Boston',
       'Financial District', 'Medford', 'Downtown Crossing', 'Downtown',
       'Roxbury', 'South End', 'Dorchester', 'Mattapan',
       'Coolidge Corner', 'Los Altos Hills', 'Harvard Square',
       'East Boston', 'Malden', 'Charlestown', 'Newton', 'Chelsea',
       'Bernal Heights', 'Government Center', 'Sunnyvale', 'Brookline',
       'Midtown East', 'East Harlem', 'West Roxbury', 'Chestnut Hill',
       'South of Nevsky', 'Winthrop', 'Flatiron District', 'Belváros',
       'Miami Beach', 'Coral Way', 'Mission District'], dtype=object)

In [19]:
listings.street.unique()

array(['Birch Street, Boston, MA 02131, United States',
       'Pinehurst Street, Boston, MA 02131, United States',
       'Ardale St., Boston, MA 02131, United States', ...,
       'Freeman Street, Brookline, MA 02446, United States',
       'Child Street, Cambridge, MA 02141, United States',
       'George St Somerville, Somerville, MA 02145, United States'],
      dtype=object)

In [20]:
n= listings.neighbourhood.unique()
n

array(['Roslindale', nan, 'Jamaica Plain', 'Mission Hill',
       'Fenway/Kenmore', 'Back Bay', 'Leather District', 'Chinatown',
       'Hyde Park', 'North End', 'Roxbury', 'South End', 'Mattapan',
       'East Boston', 'South Boston', 'Charlestown', 'West End',
       'Beacon Hill', 'Theater District', 'Downtown Crossing', 'Downtown',
       'Financial District', 'Government Center', 'Allston-Brighton',
       'West Roxbury', 'Chestnut Hill', 'Dorchester', 'Brookline',
       'Cambridge', 'Somerville', 'Harvard Square'], dtype=object)

In [21]:
listings.city.unique()
#'city', 'state', 'zipcode'

array(['Boston', 'Roslindale', 'Roslindale, Boston', 'Jamaica Plain',
       'Brookline', 'Jamaica Plain, Boston', 'Jamaica Plain (Boston)',
       'Roxbury Crossing', 'Jamaica Plain ', 'Jamaica Plain, MA',
       'Boston (Jamaica Plain)', 'Jamaica plain ', 'ROXBURY CROSSING',
       'Mission Hill, Boston', 'boston', '波士顿',
       'Boston, Massachusetts, US', 'South End, Boston', 'Cambridge',
       'East Boston', 'east Boston ', 'Charlestown',
       'Boston (Charlestown)', 'Somerville', 'Watertown', 'Brighton',
       'Brighton ', 'Boston ', nan, 'West Roxbury', 'Newton', 'Hyde Park',
       'Mattapan', 'Milton', 'Dorchester', 'dorchester, boston ',
       'South Boston', 'Allston', 'ALLSTON'], dtype=object)

In [22]:
listings.state.unique()
#state
#'latitude', 'longitude'

array(['MA'], dtype=object)

In [23]:
listings.zipcode.unique()

array(['02131', nan, '02130', '02119', '02120', '02115', '02215', '02116',
       '02111', '02109', '02113', '02110', '02114', '02108', '02121',
       '02118', '02125', '02124', '02210', '02218', '02142', '02128',
       '02129', '02145', '02126', '02108 02111', '02472', '02122',
       '02446', '02135', '02134', '02445', '02132', '02467', '02136',
       '02186', '02169', '02127', '02134-1704', '02163', '02138', '02139',
       '02141', '02143'], dtype=object)

In [24]:
'''
•	"How many houses and apartments are being rented out frequently to tourists and not to long-term residents?"
'''

'\n•\t"How many houses and apartments are being rented out frequently to tourists and not to long-term residents?"\n'

In [25]:
len(reviews.reviewer_name.unique())

14775

In [26]:
listings.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,jurisdiction_names,calculated_host_listings_count,reviews_per_month
count,3.585000e+03,3.585000e+03,3.585000e+03,3585.000000,3585.000000,0.0,3585.000000,3585.000000,3585.000000,3571.000000,...,2762.000000,2767.000000,2765.000000,2767.000000,2763.000000,2764.000000,0.0,0.0,3585.000000,2829.000000
mean,8.440875e+06,2.016091e+13,2.492311e+07,58.902371,58.902371,NaN,42.340032,-71.084818,3.041283,1.221647,...,9.431571,9.258041,9.646293,9.646549,9.414043,9.168234,NaN,NaN,12.733891,1.970908
std,4.500787e+06,8.516813e-01,2.292781e+07,171.119663,171.119663,NaN,0.024403,0.031565,1.778929,0.501487,...,0.931863,1.168977,0.762753,0.735507,0.903436,1.011116,NaN,NaN,29.415076,2.120561
min,3.353000e+03,2.016091e+13,4.240000e+03,0.000000,0.000000,NaN,42.235942,-71.171789,1.000000,0.000000,...,2.000000,2.000000,2.000000,4.000000,2.000000,2.000000,NaN,NaN,1.000000,0.010000
25%,4.679319e+06,2.016091e+13,6.103425e+06,1.000000,1.000000,NaN,42.329995,-71.105083,2.000000,1.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,NaN,NaN,1.000000,0.480000
50%,8.577620e+06,2.016091e+13,1.928100e+07,2.000000,2.000000,NaN,42.345201,-71.078429,2.000000,1.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,NaN,NaN,2.000000,1.170000
75%,1.278953e+07,2.016091e+13,3.622147e+07,7.000000,7.000000,NaN,42.354685,-71.062155,4.000000,1.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,6.000000,2.720000
max,1.493346e+07,2.016091e+13,9.385411e+07,749.000000,749.000000,NaN,42.389982,-71.000100,16.000000,6.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,136.000000,19.150000

In [27]:
listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'access', 'interaction', 'house_rules',
       'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [28]:
#listings.house_rules
#listings.host_total_listings_count
#listings.number_of_reviews
#listings.host_is_superhost.unique().value_counts()

In [29]:
''''•	whether the host is present
'''

listings.host_is_superhost.value_counts()

f    3178
t     407
Name: host_is_superhost, dtype: int64

In [30]:
has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365

SyntaxError: EOL while scanning string literal (<ipython-input-30-5af7c41427d2>, line 1)

In [ ]:
len(listings.has_availability)

In [ ]:
len(listings)

In [ ]:
'''
•	"Which hosts are running a business with multiple listings and where they?"
'''

In [ ]:
listings.columns

In [ ]:
listings.name

In [ ]:
#Ex: df.duplicated(subset=['brand']) To find duplicates on specific column(s), use subset.

In [ ]:
listings.duplicated(subset=['name']).value_counts()

In [ ]:
#df.drop_duplicates(subset=['brand']) to remove the duplicates

In [ ]:
df=listings.drop_duplicates(subset=['name'])

In [ ]:
#df_bigdata_duplicates = df_bigdata[df_bigdata.duplicated(cols='ID')] #store the removed duplicates

In [ ]:
ID = listings['name']
df2= listings[listings.duplicated(cols='ID')]

In [ ]:
df2

In [ ]:
Set-2 Questions:
'''
•	how many nights a dwelling is rented per year
•	minimum nights stay
•	whether the host is present
•	how many rooms are being rented in a building
•	the number of occupants allowed in a rental
•	whether the listing is licensed
'''

In [ ]:
'''
 How many rooms are being rented in a building

'''

In [ ]:
'''
'is_location_exact', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type'
'''

In [ ]:
a= listings.bedrooms.isna().value_counts()
a

In [ ]:
listings.bedrooms.sum()

In [ ]:
#average rooms in a property.
listings.bedrooms.sum()/len(listings)

In [ ]:
listings.groupby(['id']).mean()

In [ ]:
listings.id

In [ ]:
''''the number of occupants allowed in a rental'''

In [ ]:
listings.accommodates.sort_values().unique()

In [ ]:
listings[['name','accommodates']]

In [ ]:
'''
•	whether the listing is licensed
'''

In [ ]:
listings.requires_license.value_counts()
#Dont require a license  for listings

In [ ]:
'''
how many rooms are being rented in a building
'''

In [ ]:
listings[['name','bedrooms']]

In [ ]:
'''
whether the host is present
'''

In [ ]:
listings.host_is_superhost.value_counts()

In [ ]:
for listings(name','host_is_superhost'):

In [ ]:
a=[]
for x,y in listings[['name','host_is_superhost']].iterrows():
    if(y.all()=='t'):
        print(x,y)
        #a.append(y)

In [ ]:
len(a) # Host is present in 407 properties

In [ ]:
'''
minimum nights stay
'''

In [ ]:
listings.columns

In [ ]:
listings.minimum_nights.unique()

In [ ]:
listings[['name','minimum_nights']]

In [ ]:
'''
how many nights a dwelling is rented per year

'''

In [ ]:
listings[['name','maximum_nights']]

In [ ]:
a= calendar.sort_values(by='date')

In [ ]:
a.iloc[:,1:2]

In [ ]:
#Latitude and longitude
listings[['name','latitude','longitude']]

In [ ]:
'''
BBox = ((df.longitude.min(),   df.longitude.max(),      
         df.latitude.min(), df.latitude.max())
''''

In [ ]:
a=listings.latitude.max()
a

In [ ]:
print(listings.longitude.min())
print(listings.longitude.max())
print(listings.latitude.min())
print( listings.latitude.max())

In [ ]:
BBox = ((listings.longitude.min(),   listings.longitude.max(),listings.latitude.min(), listings.latitude.max()))

In [ ]:
ruh_m = plt.imread('P:/Udactity NanoDegree Data Scientist/2.Introduction to Data Science/map.png')

In [ ]:
fig, ax = plt.subplots(figsize = (8,7))
ax.scatter(listings.longitude, listings.latitude, zorder=1, alpha= 0.2, c='b', s=10)
ax.set_title('Plotting Spatial Data on Riyadh Map')
ax.set_xlim(BBox[0],BBox[1])
ax.set_ylim(BBox[2],BBox[3])
ax.imshow(ruh_m, zorder=0, extent = BBox, aspect= 'equal')