In [1]:
'''
Set-1 Questions:
•	"How many listings are in my neighbourhood and where are they?"
•	"How many houses and apartments are being rented out frequently to tourists and not to long-term residents?"
•	"How much are hosts making from renting to tourists (compare that to long-term rentals)?"
•	"Which hosts are running a business with multiple listings and where they?"
'''

'\nSet-1 Questions:\n•\t"How many listings are in my neighbourhood and where are they?"\n•\t"How many houses and apartments are being rented out frequently to tourists and not to long-term residents?"\n•\t"How much are hosts making from renting to tourists (compare that to long-term rentals)?"\n•\t"Which hosts are running a business with multiple listings and where they?"\n'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
calendar= pd.read_csv('P:/Udactity NanoDegree Data Scientist/2.Introduction to Data Science/dataset/Boston AirBNB Data/calendar.csv')
listings= pd.read_csv('P:/Udactity NanoDegree Data Scientist/2.Introduction to Data Science/dataset/Boston AirBNB Data/listings.csv')
reviews= pd.read_csv('P:/Udactity NanoDegree Data Scientist/2.Introduction to Data Science/dataset/Boston AirBNB Data/reviews.csv')

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [5]:
len(listings)

3585

In [ ]:
listings.columns

In [183]:
#Wrangling and Cleaning Data

In [56]:
#Need to drop columns
new_listings=listings[['name',  'host_is_superhost', 'host_listings_count', 'neighbourhood', 'neighbourhood_cleansed','city', 'state', 'latitude', 'longitude','property_type','room_type', 'accommodates','bathrooms','bedrooms', 'beds', 'bed_type','price', 'weekly_price', 'monthly_price', 'has_availability','availability_30', 'availability_60', 'availability_90','availability_365', 'calendar_last_scraped', 'number_of_reviews',  'instant_bookable','calculated_host_listings_count','reviews_per_month']]

In [ ]:
new_listings.columns

In [57]:
new_listings.isna().sum().sort_values(ascending=False)

has_availability                  3585
monthly_price                     2697
weekly_price                      2693
reviews_per_month                  756
neighbourhood                      543
bathrooms                           14
bedrooms                            10
beds                                 9
property_type                        3
city                                 2
availability_30                      0
host_is_superhost                    0
host_listings_count                  0
instant_bookable                     0
neighbourhood_cleansed               0
state                                0
latitude                             0
longitude                            0
room_type                            0
availability_60                      0
accommodates                         0
number_of_reviews                    0
calendar_last_scraped                0
calculated_host_listings_count       0
bed_type                             0
price                                0
availability_365                     0
availability_90                      0
name                                 0
dtype: int64

In [58]:
new_listings=new_listings.drop(['has_availability','monthly_price' ,'weekly_price'], axis=1)

In [59]:
new_listings.isna().sum().sort_values(ascending=False)

reviews_per_month                 756
neighbourhood                     543
bathrooms                          14
bedrooms                           10
beds                                9
property_type                       3
city                                2
number_of_reviews                   0
host_is_superhost                   0
host_listings_count                 0
instant_bookable                    0
neighbourhood_cleansed              0
state                               0
latitude                            0
longitude                           0
accommodates                        0
room_type                           0
calendar_last_scraped               0
calculated_host_listings_count      0
bed_type                            0
price                               0
availability_30                     0
availability_60                     0
availability_90                     0
availability_365                    0
name                                0
dtype: int64

In [ ]:
'''
reviews_per_month : mean
# value is distributed over a large value so we will take the mean
median and mode will not justify the missing values.
'''

In [ ]:
#df4['ord_no'].fillna(value=df4['ord_no'].mean(), inplace=True)

In [152]:
new_listings['reviews_per_month'].fillna(value=new_listings['reviews_per_month'].mean(),inplace = True)

In [90]:
'''
neighbourhood : we will use forward fill.
there is a clear pattern in the data.
All the neighbourbood are placed in a sequential manner.
Chances are very high that they missed the values while inputing the data.

'''

'\nlistings.neighbourhood\n\n\n'

In [154]:
new_listings['neighbourhood'].fillna(value=new_listings['neighbourhood'].ffill(),inplace = True)

In [ ]:
'''
bathroom : mean()
mean will be the best choice
'''

In [143]:
new_listings['bathrooms'].fillna(value=new_listings['bathrooms'].mean(),inplace = True)

In [181]:
new_listings['bedrooms'].fillna(value=new_listings['bedrooms'].mean(),inplace = True)

In [ ]:
'''
bed: mode
#most values are 1 so mode will be better choice
'''

In [156]:
new_listings['beds'].mode()

0    1.0
dtype: float64

In [175]:
new_listings['beds'].fillna(value=new_listings['beds'].mode()[0],inplace = True)

In [130]:
'''
property_type: mode: Apartment'''

#listings['property_type'].value_counts()

'\nproperty_type: mode: Apartment'

In [168]:
new_listings['property_type'].fillna(new_listings['property_type'].mode()[0], inplace=True)

In [128]:
'''
city: mode: boston
'''
#listings.city.value_counts()

'\ncity: mode: boston\n'

In [179]:
new_listings['city'].fillna(value=new_listings['city'].mode()[0],inplace = True)

In [182]:
new_listings.isna().sum().sort_values(ascending=False)

reviews_per_month                 0
calculated_host_listings_count    0
host_is_superhost                 0
host_listings_count               0
neighbourhood                     0
neighbourhood_cleansed            0
city                              0
state                             0
latitude                          0
longitude                         0
property_type                     0
room_type                         0
accommodates                      0
bathrooms                         0
bedrooms                          0
beds                              0
bed_type                          0
price                             0
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
calendar_last_scraped             0
number_of_reviews                 0
instant_bookable                  0
name                              0
dtype: int64

In [184]:
#Wrangling and Cleaning Data: Done

In [14]:
listings.calculated_host_listings_count.unique()

array([  1,   3,   2,   4,   6,  79,  17,   7, 136,  10,  61,  11,   5,
        13,  58,  25,  15,  24,  20,  50,  12,  19,  14,   8,   9],
      dtype=int64)

In [15]:
listings.dtypes

id                                    int64
listing_url                          object
scrape_id                             int64
last_scraped                         object
name                                 object
summary                              object
space                                object
description                          object
experiences_offered                  object
neighborhood_overview                object
notes                                object
transit                              object
access                               object
interaction                          object
house_rules                          object
thumbnail_url                        object
medium_url                           object
picture_url                          object
xl_picture_url                       object
host_id                               int64
host_url                             object
host_name                            object
host_since                           object
host_location                        object
host_about                           object
host_response_time                   object
host_response_rate                   object
host_acceptance_rate                 object
host_is_superhost                    object
host_thumbnail_url                   object
host_picture_url                     object
host_neighbourhood                   object
host_listings_count                   int64
host_total_listings_count             int64
host_verifications                   object
host_has_profile_pic                 object
host_identity_verified               object
street                               object
neighbourhood                        object
neighbourhood_cleansed               object
neighbourhood_group_cleansed        float64
city                                 object
state                                object
zipcode                              object
market                               object
smart_location                       object
country_code                         object
country                              object
latitude                            float64
longitude                           float64
is_location_exact                    object
property_type                        object
room_type                            object
accommodates                          int64
bathrooms                           float64
bedrooms                            float64
beds                                float64
bed_type                             object
amenities                            object
square_feet                         float64
price                                object
weekly_price                         object
monthly_price                        object
security_deposit                     object
cleaning_fee                         object
guests_included                       int64
extra_people                         object
minimum_nights                        int64
maximum_nights                        int64
calendar_updated                     object
has_availability                    float64
availability_30                       int64
availability_60                       int64
availability_90                       int64
availability_365                      int64
calendar_last_scraped                object
number_of_reviews                     int64
first_review                         object
last_review                          object
review_scores_rating                float64
review_scores_accuracy              float64
review_scores_cleanliness           float64
review_scores_checkin               float64
review_scores_communication         float64
review_scores_location              float64
review_scores_value                 float64
requires_license                     object
license                             float64
jurisdiction_names                  float64
instant_bookable                     object
cancellation_policy                  object
require_guest_profile_picture        object
require_guest_phone_verification     object
calculated_host_listings_count        int64
reviews_per_month                   float64
dtype: object

In [16]:
listings.isna().sum()

id                                     0
listing_url                            0
scrape_id                              0
last_scraped                           0
name                                   0
summary                              143
space                               1057
description                            0
experiences_offered                    0
neighborhood_overview               1415
notes                               1975
transit                             1290
access                              1489
interaction                         1554
house_rules                         1192
thumbnail_url                        599
medium_url                           599
picture_url                            0
xl_picture_url                       599
host_id                                0
host_url                               0
host_name                              0
host_since                             0
host_location                         11
host_about                          1309
host_response_time                   471
host_response_rate                   471
host_acceptance_rate                 471
host_is_superhost                      0
host_thumbnail_url                     0
host_picture_url                       0
host_neighbourhood                   339
host_listings_count                    0
host_total_listings_count              0
host_verifications                     0
host_has_profile_pic                   0
host_identity_verified                 0
street                                 0
neighbourhood                        543
neighbourhood_cleansed                 0
neighbourhood_group_cleansed        3585
city                                   2
state                                  0
zipcode                               38
market                                14
smart_location                         0
country_code                           0
country                                0
latitude                               0
longitude                              0
is_location_exact                      0
property_type                          3
room_type                              0
accommodates                           0
bathrooms                             14
bedrooms                              10
beds                                   9
bed_type                               0
amenities                              0
square_feet                         3529
price                                  0
weekly_price                        2693
monthly_price                       2697
security_deposit                    2243
cleaning_fee                        1107
guests_included                        0
extra_people                           0
minimum_nights                         0
maximum_nights                         0
calendar_updated                       0
has_availability                    3585
availability_30                        0
availability_60                        0
availability_90                        0
availability_365                       0
calendar_last_scraped                  0
number_of_reviews                      0
first_review                         756
last_review                          756
review_scores_rating                 813
review_scores_accuracy               823
review_scores_cleanliness            818
review_scores_checkin                820
review_scores_communication          818
review_scores_location               822
review_scores_value                  821
requires_license                       0
license                             3585
jurisdiction_names                  3585
instant_bookable                       0
cancellation_policy                    0
require_guest_profile_picture          0
require_guest_phone_verification       0
calculated_host_listings_count         0
reviews_per_month                    756
dtype: int64

In [17]:
new_listings=listings[['id','name','neighbourhood']]
new_listings.head()

         id                                           name neighbourhood
0  12147973                     Sunny Bungalow in the City    Roslindale
1   3075044              Charming room in pet friendly apt    Roslindale
2      6976               Mexican Folk Art Haven in Boston    Roslindale
3   1436513  Spacious Sunny Bedroom Suite in Historic Home           NaN
4   7651065                            Come Home to Boston    Roslindale

In [18]:
"How many listings are in my neighbourhood and where are they?"  # Done

'How many listings are in my neighbourhood and where are they?'

In [19]:
new_listings['neighbourhood'].unique()

array(['Roslindale', nan, 'Jamaica Plain', 'Mission Hill',
       'Fenway/Kenmore', 'Back Bay', 'Leather District', 'Chinatown',
       'Hyde Park', 'North End', 'Roxbury', 'South End', 'Mattapan',
       'East Boston', 'South Boston', 'Charlestown', 'West End',
       'Beacon Hill', 'Theater District', 'Downtown Crossing', 'Downtown',
       'Financial District', 'Government Center', 'Allston-Brighton',
       'West Roxbury', 'Chestnut Hill', 'Dorchester', 'Brookline',
       'Cambridge', 'Somerville', 'Harvard Square'], dtype=object)

In [20]:
n= list(listings.neighbourhood.unique())
df_ne= listings[['neighbourhood', 'name']]
ne= input("Enter your neighbourhood: ")
count=0
for i in n:
    if i==ne:
        print("Yes we have your neighbourhood: "+ne)
        count=1
        print(df_ne.loc[df_ne['neighbourhood'] ==ne].head())
if count==0:
    print("Oops! We don't have your neighbourhood, or maybe spell correctly: "+ne)

Enter your neighbourhood: East Boston
Yes we have your neighbourhood: East Boston
     neighbourhood                                               name
1541   East Boston                 Furnished Suites with Boston Views
1542   East Boston                Zephyr Yacht - Heated and Insulated
1544   East Boston                Stay at "HARBORVIEW" Walk to subway
1547   East Boston  Close to the airport, 5 minutes walk to T Station
1549   East Boston                 Sun filled room, minutes to Boston

In [21]:
"How many houses and apartments are being rented out frequently to tourists and not to long-term residents?"

'How many houses and apartments are being rented out frequently to tourists and not to long-term residents?'

In [22]:
listings.availability_365.unique()

array([  0, 359, 319,  98, 334,  58, 344, 365, 347, 107, 343, 341, 129,
       339, 349, 295, 262, 332, 207, 299,   1, 122, 356, 310, 353,  17,
       325, 362, 300, 351, 361, 355, 254, 306, 133, 267, 161, 260, 248,
       258, 348, 333, 259, 331, 144, 328, 301, 109,  23,  43, 340, 250,
       346,  62,  15,  78, 337, 363, 255, 316, 358, 309, 279,  48, 285,
       257,  65, 276,  71,  74,   2,  66, 197, 185, 120, 290,  59, 364,
       146, 198, 292, 240, 327,  88, 149, 184, 283, 335, 266, 284, 338,
       145, 143,  24,  35, 213,  73, 159,  57, 211,   5, 163,   9, 314,
        81, 168, 177, 305,  21,   4,  13, 298, 308, 302, 121, 288, 154,
       153,  47, 286, 209, 178, 175,  41,  20, 296,  70, 224,  39, 130,
       326, 311,  90, 108, 167, 156, 201,   7, 304, 252, 195, 116,  89,
       320,  87, 350,  27,  50, 303, 119, 128, 217,  30,  72, 137, 131,
       322, 360,  16,  28, 231, 317, 274,  97, 323, 132, 352, 294, 111,
        84, 330, 263, 282, 242, 123, 106, 307, 329,  26,   8, 280, 289,
       281, 188, 113, 110, 179, 101,  31, 297,  44, 208, 158,  29, 117,
       245, 324,  60, 237, 206, 176, 312, 318,   6, 336, 142, 313, 321,
        83,  77,  92,  46, 148, 357,  12, 166, 170, 173,  80,  37, 293,
        79, 342,  52,  86, 225, 315, 150,  63,   3,  55, 291, 141,  69,
       241,  14, 196, 244,  10, 251,  18, 249, 265, 155, 273, 246, 270,
       157, 172,  22,  95,  19, 105, 138, 165, 227,  33,  85, 354,  45,
       139,  75, 102,  93,  42, 345, 261,  40,  34, 272,  51, 223, 134,
       135,  68, 278,  56, 264, 275,  64,  67, 203, 187, 103, 140, 171,
       235,  36, 271, 236, 112,  49,  76,  99,  91,  32, 151, 152, 204,
       115, 160, 174,  94,  82, 183, 199, 216, 233, 277, 180,  61, 253,
       269,  54, 222, 126,  38, 114, 127,  96, 191, 215, 219, 124, 247,
       192,  11, 118, 164, 125, 136,  25, 100, 238, 243, 226, 189,  53,
       228, 230, 287, 256, 234, 169, 210, 200, 214, 218], dtype=int64)

In [23]:
listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'access', 'interaction', 'house_rules',
       'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [24]:
len(listings)

3585

In [25]:
print('Listings length: '+str(len(listings)))
print('Calendar length: '+str(len(calendar)))
print('Reviews length:  '+str(len(reviews)))

Listings length: 3585
Calendar length: 1308890
Reviews length:  68275

In [26]:
listings.isna().sum().sort_values()

id                                     0
host_identity_verified                 0
street                                 0
neighbourhood_cleansed                 0
state                                  0
smart_location                         0
country_code                           0
calculated_host_listings_count         0
latitude                               0
longitude                              0
is_location_exact                      0
room_type                              0
accommodates                           0
bed_type                               0
amenities                              0
price                                  0
guests_included                        0
extra_people                           0
require_guest_phone_verification       0
require_guest_profile_picture          0
cancellation_policy                    0
instant_bookable                       0
requires_license                       0
number_of_reviews                      0
host_has_profile_pic                   0
calendar_last_scraped                  0
availability_90                        0
availability_60                        0
availability_30                        0
calendar_updated                       0
maximum_nights                         0
minimum_nights                         0
availability_365                       0
host_verifications                     0
country                                0
host_listings_count                    0
host_total_listings_count              0
name                                   0
picture_url                            0
last_scraped                           0
host_id                                0
host_url                               0
description                            0
host_since                             0
scrape_id                              0
host_name                              0
listing_url                            0
host_picture_url                       0
host_thumbnail_url                     0
host_is_superhost                      0
experiences_offered                    0
city                                   2
property_type                          3
beds                                   9
bedrooms                              10
host_location                         11
bathrooms                             14
market                                14
zipcode                               38
summary                              143
host_neighbourhood                   339
host_response_rate                   471
host_acceptance_rate                 471
host_response_time                   471
neighbourhood                        543
xl_picture_url                       599
medium_url                           599
thumbnail_url                        599
last_review                          756
first_review                         756
reviews_per_month                    756
review_scores_rating                 813
review_scores_communication          818
review_scores_cleanliness            818
review_scores_checkin                820
review_scores_value                  821
review_scores_location               822
review_scores_accuracy               823
space                               1057
cleaning_fee                        1107
house_rules                         1192
transit                             1290
host_about                          1309
neighborhood_overview               1415
access                              1489
interaction                         1554
notes                               1975
security_deposit                    2243
weekly_price                        2693
monthly_price                       2697
square_feet                         3529
has_availability                    3585
license                             3585
jurisdiction_names                  3585
neighbourhood_group_cleansed        3585
dtype: int64

In [27]:
reviews.isna().sum().sort_values()

listing_id        0
id                0
date              0
reviewer_id       0
reviewer_name     0
comments         53
dtype: int64

In [28]:
listings.count().sort_values()

license                                0
jurisdiction_names                     0
neighbourhood_group_cleansed           0
has_availability                       0
square_feet                           56
monthly_price                        888
weekly_price                         892
security_deposit                    1342
notes                               1610
interaction                         2031
access                              2096
neighborhood_overview               2170
host_about                          2276
transit                             2295
house_rules                         2393
cleaning_fee                        2478
space                               2528
review_scores_accuracy              2762
review_scores_location              2763
review_scores_value                 2764
review_scores_checkin               2765
review_scores_communication         2767
review_scores_cleanliness           2767
review_scores_rating                2772
reviews_per_month                   2829
first_review                        2829
last_review                         2829
thumbnail_url                       2986
xl_picture_url                      2986
medium_url                          2986
neighbourhood                       3042
host_acceptance_rate                3114
host_response_rate                  3114
host_response_time                  3114
host_neighbourhood                  3246
summary                             3442
zipcode                             3547
market                              3571
bathrooms                           3571
host_location                       3574
bedrooms                            3575
beds                                3576
property_type                       3582
city                                3583
requires_license                    3585
require_guest_phone_verification    3585
number_of_reviews                   3585
require_guest_profile_picture       3585
cancellation_policy                 3585
guests_included                     3585
extra_people                        3585
minimum_nights                      3585
maximum_nights                      3585
calendar_last_scraped               3585
instant_bookable                    3585
availability_365                    3585
availability_90                     3585
availability_30                     3585
availability_60                     3585
calendar_updated                    3585
id                                  3585
amenities                           3585
listing_url                         3585
scrape_id                           3585
last_scraped                        3585
name                                3585
description                         3585
experiences_offered                 3585
picture_url                         3585
host_id                             3585
host_url                            3585
host_name                           3585
host_since                          3585
host_is_superhost                   3585
host_thumbnail_url                  3585
host_picture_url                    3585
host_listings_count                 3585
host_total_listings_count           3585
host_verifications                  3585
bed_type                            3585
accommodates                        3585
room_type                           3585
is_location_exact                   3585
longitude                           3585
latitude                            3585
price                               3585
calculated_host_listings_count      3585
smart_location                      3585
state                               3585
neighbourhood_cleansed              3585
street                              3585
host_identity_verified              3585
host_has_profile_pic                3585
country_code                        3585
country                             3585
dtype: int64

In [29]:
listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'access', 'interaction', 'house_rules',
       'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [30]:
#listings.has_availability.unique()     
#we must drop it all are none here in this column
# listings.availability_30.unique()

In [31]:
#Location of the host
#listings.host_location.unique()

In [32]:
listings.host_neighbourhood.unique()

array(['Roslindale', nan, 'Jamaica Plain', 'Hyde Park', 'South Beach',
       'Benton Park', 'Back Bay', 'Mission Hill', 'Cambridge',
       'Fenway/Kenmore', 'Beacon Hill', 'West End', 'North End',
       'Allston-Brighton', 'Upper East Side', 'Theater District',
       'Leather District', 'Gay Village', 'Somerville', 'Chinatown',
       'Santa Cruz', 'Central Business District', 'South Boston',
       'Financial District', 'Medford', 'Downtown Crossing', 'Downtown',
       'Roxbury', 'South End', 'Dorchester', 'Mattapan',
       'Coolidge Corner', 'Los Altos Hills', 'Harvard Square',
       'East Boston', 'Malden', 'Charlestown', 'Newton', 'Chelsea',
       'Bernal Heights', 'Government Center', 'Sunnyvale', 'Brookline',
       'Midtown East', 'East Harlem', 'West Roxbury', 'Chestnut Hill',
       'South of Nevsky', 'Winthrop', 'Flatiron District', 'Belváros',
       'Miami Beach', 'Coral Way', 'Mission District'], dtype=object)

In [33]:
listings.street.unique()

array(['Birch Street, Boston, MA 02131, United States',
       'Pinehurst Street, Boston, MA 02131, United States',
       'Ardale St., Boston, MA 02131, United States', ...,
       'Freeman Street, Brookline, MA 02446, United States',
       'Child Street, Cambridge, MA 02141, United States',
       'George St Somerville, Somerville, MA 02145, United States'],
      dtype=object)

In [34]:
n= listings.neighbourhood.unique()
n

array(['Roslindale', nan, 'Jamaica Plain', 'Mission Hill',
       'Fenway/Kenmore', 'Back Bay', 'Leather District', 'Chinatown',
       'Hyde Park', 'North End', 'Roxbury', 'South End', 'Mattapan',
       'East Boston', 'South Boston', 'Charlestown', 'West End',
       'Beacon Hill', 'Theater District', 'Downtown Crossing', 'Downtown',
       'Financial District', 'Government Center', 'Allston-Brighton',
       'West Roxbury', 'Chestnut Hill', 'Dorchester', 'Brookline',
       'Cambridge', 'Somerville', 'Harvard Square'], dtype=object)

In [35]:
listings.city.unique()
#'city', 'state', 'zipcode'

array(['Boston', 'Roslindale', 'Roslindale, Boston', 'Jamaica Plain',
       'Brookline', 'Jamaica Plain, Boston', 'Jamaica Plain (Boston)',
       'Roxbury Crossing', 'Jamaica Plain ', 'Jamaica Plain, MA',
       'Boston (Jamaica Plain)', 'Jamaica plain ', 'ROXBURY CROSSING',
       'Mission Hill, Boston', 'boston', '波士顿',
       'Boston, Massachusetts, US', 'South End, Boston', 'Cambridge',
       'East Boston', 'east Boston ', 'Charlestown',
       'Boston (Charlestown)', 'Somerville', 'Watertown', 'Brighton',
       'Brighton ', 'Boston ', nan, 'West Roxbury', 'Newton', 'Hyde Park',
       'Mattapan', 'Milton', 'Dorchester', 'dorchester, boston ',
       'South Boston', 'Allston', 'ALLSTON'], dtype=object)

In [36]:
listings.state.unique()
#state
#'latitude', 'longitude'

array(['MA'], dtype=object)

In [37]:
listings.zipcode.unique()

array(['02131', nan, '02130', '02119', '02120', '02115', '02215', '02116',
       '02111', '02109', '02113', '02110', '02114', '02108', '02121',
       '02118', '02125', '02124', '02210', '02218', '02142', '02128',
       '02129', '02145', '02126', '02108 02111', '02472', '02122',
       '02446', '02135', '02134', '02445', '02132', '02467', '02136',
       '02186', '02169', '02127', '02134-1704', '02163', '02138', '02139',
       '02141', '02143'], dtype=object)

In [38]:
'''
•	"How many houses and apartments are being rented out frequently to tourists and not to long-term residents?"
'''

'\n•\t"How many houses and apartments are being rented out frequently to tourists and not to long-term residents?"\n'

In [39]:
len(reviews.reviewer_name.unique())

14775

In [40]:
listings.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,bedrooms,beds,square_feet,guests_included,minimum_nights,maximum_nights,has_availability,availability_30,availability_60,availability_90,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,jurisdiction_names,calculated_host_listings_count,reviews_per_month
count,3.585000e+03,3.585000e+03,3.585000e+03,3585.000000,3585.000000,0.0,3585.000000,3585.000000,3585.000000,3571.000000,3575.000000,3576.000000,56.000000,3585.000000,3585.000000,3.585000e+03,0.0,3585.00000,3585.000000,3585.000000,3585.000000,3585.000000,2772.000000,2762.000000,2767.000000,2765.000000,2767.000000,2763.000000,2764.000000,0.0,0.0,3585.000000,2829.000000
mean,8.440875e+06,2.016091e+13,2.492311e+07,58.902371,58.902371,NaN,42.340032,-71.084818,3.041283,1.221647,1.255944,1.609060,858.464286,1.429847,3.171269,2.872584e+04,NaN,8.64993,21.833194,38.558159,179.346444,19.044630,91.916667,9.431571,9.258041,9.646293,9.646549,9.414043,9.168234,NaN,NaN,12.733891,1.970908
std,4.500787e+06,8.516813e-01,2.292781e+07,171.119663,171.119663,NaN,0.024403,0.031565,1.778929,0.501487,0.753060,1.011745,608.874310,1.056787,8.874133,1.670136e+06,NaN,10.43533,21.860966,33.158272,142.136180,35.571658,9.531686,0.931863,1.168977,0.762753,0.735507,0.903436,1.011116,NaN,NaN,29.415076,2.120561
min,3.353000e+03,2.016091e+13,4.240000e+03,0.000000,0.000000,NaN,42.235942,-71.171789,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000e+00,NaN,0.00000,0.000000,0.000000,0.000000,0.000000,20.000000,2.000000,2.000000,2.000000,4.000000,2.000000,2.000000,NaN,NaN,1.000000,0.010000
25%,4.679319e+06,2.016091e+13,6.103425e+06,1.000000,1.000000,NaN,42.329995,-71.105083,2.000000,1.000000,1.000000,1.000000,415.000000,1.000000,1.000000,3.650000e+02,NaN,0.00000,0.000000,0.000000,19.000000,1.000000,89.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,NaN,NaN,1.000000,0.480000
50%,8.577620e+06,2.016091e+13,1.928100e+07,2.000000,2.000000,NaN,42.345201,-71.078429,2.000000,1.000000,1.000000,1.000000,825.000000,1.000000,2.000000,1.125000e+03,NaN,4.00000,16.000000,37.000000,179.000000,5.000000,94.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,NaN,NaN,2.000000,1.170000
75%,1.278953e+07,2.016091e+13,3.622147e+07,7.000000,7.000000,NaN,42.354685,-71.062155,4.000000,1.000000,2.000000,2.000000,1200.000000,1.000000,3.000000,1.125000e+03,NaN,15.00000,40.000000,68.000000,325.000000,21.000000,98.250000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,6.000000,2.720000
max,1.493346e+07,2.016091e+13,9.385411e+07,749.000000,749.000000,NaN,42.389982,-71.000100,16.000000,6.000000,5.000000,16.000000,2400.000000,14.000000,300.000000,1.000000e+08,NaN,30.00000,60.000000,90.000000,365.000000,404.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,136.000000,19.150000

In [41]:
listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'access', 'interaction', 'house_rules',
       'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [42]:
#listings.house_rules
#listings.host_total_listings_count
#listings.number_of_reviews
#listings.host_is_superhost.unique().value_counts()

In [43]:
''''•	whether the host is present
'''

listings.host_is_superhost.value_counts()

f    3178
t     407
Name: host_is_superhost, dtype: int64

In [44]:
has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365

SyntaxError: EOL while scanning string literal (<ipython-input-44-5af7c41427d2>, line 1)

In [ ]:
len(listings.has_availability)

In [ ]:
len(listings)

In [ ]:
'''
•	"Which hosts are running a business with multiple listings and where they?"
'''

In [ ]:
listings.columns

In [ ]:
listings.name

In [ ]:
#Ex: df.duplicated(subset=['brand']) To find duplicates on specific column(s), use subset.

In [ ]:
listings.duplicated(subset=['name']).value_counts()

In [ ]:
#df.drop_duplicates(subset=['brand']) to remove the duplicates

In [ ]:
df=listings.drop_duplicates(subset=['name'])

In [ ]:
#df_bigdata_duplicates = df_bigdata[df_bigdata.duplicated(cols='ID')] #store the removed duplicates

In [ ]:
ID = listings['name']
df2= listings[listings.duplicated(cols='ID')]

In [ ]:
df2

In [ ]:
Set-2 Questions:
'''
•	how many nights a dwelling is rented per year
•	minimum nights stay
•	whether the host is present
•	how many rooms are being rented in a building
•	the number of occupants allowed in a rental
•	whether the listing is licensed
'''

In [ ]:
'''
 How many rooms are being rented in a building

'''

In [ ]:
'''
'is_location_exact', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type'
'''

In [ ]:
a= listings.bedrooms.isna().value_counts()
a

In [ ]:
listings.bedrooms.sum()

In [ ]:
#average rooms in a property.
listings.bedrooms.sum()/len(listings)

In [ ]:
listings.groupby(['id']).mean()

In [ ]:
listings.id

In [ ]:
''''the number of occupants allowed in a rental'''

In [ ]:
listings.accommodates.sort_values().unique()

In [ ]:
listings[['name','accommodates']]

In [ ]:
'''
•	whether the listing is licensed
'''

In [ ]:
listings.requires_license.value_counts()
#Dont require a license  for listings

In [ ]:
'''
how many rooms are being rented in a building
'''

In [ ]:
listings[['name','bedrooms']]

In [ ]:
'''
whether the host is present
'''

In [ ]:
listings.host_is_superhost.value_counts()

In [ ]:
for listings(name','host_is_superhost'):

In [ ]:
a=[]
for x,y in listings[['name','host_is_superhost']].iterrows():
    if(y.all()=='t'):
        print(x,y)
        #a.append(y)

In [ ]:
len(a) # Host is present in 407 properties

In [ ]:
'''
minimum nights stay
'''

In [ ]:
listings.columns

In [ ]:
listings.minimum_nights.unique()

In [ ]:
listings[['name','minimum_nights']]

In [ ]:
'''
how many nights a dwelling is rented per year

'''

In [ ]:
listings[['name','maximum_nights']]

In [ ]:
a= calendar.sort_values(by='date')

In [ ]:
a.iloc[:,1:2]

In [ ]:
#Latitude and longitude
listings[['name','latitude','longitude']]

In [ ]:
'''
BBox = ((df.longitude.min(),   df.longitude.max(),      
         df.latitude.min(), df.latitude.max())
''''

In [ ]:
a=listings.latitude.max()
a

In [ ]:
print(listings.longitude.min())
print(listings.longitude.max())
print(listings.latitude.min())
print( listings.latitude.max())

In [ ]:
BBox = ((listings.longitude.min(),   listings.longitude.max(),listings.latitude.min(), listings.latitude.max()))

In [ ]:
ruh_m = plt.imread('P:/Udactity NanoDegree Data Scientist/2.Introduction to Data Science/map.png')

In [ ]:
fig, ax = plt.subplots(figsize = (8,7))
ax.scatter(listings.longitude, listings.latitude, zorder=1, alpha= 0.2, c='b', s=10)
ax.set_title('Plotting Spatial Data on Riyadh Map')
ax.set_xlim(BBox[0],BBox[1])
ax.set_ylim(BBox[2],BBox[3])
ax.imshow(ruh_m, zorder=0, extent = BBox, aspect= 'equal')